@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  width: 100%;
  background-color: #0B0C10;
  color: white;
}

.form-wrapper {
  width: 340px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #1F2833;
  padding: 10px;
  border-radius: 8px;
}

.form-wrapper h2,
h3 {
  text-align: center;
}

.form-wrapper p {
  margin-top: 30px;
  margin-bottom: 15px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form input {
  margin-top: 2px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  padding: 0.4rem;
}

.form label {
  margin-top: 20px;
}

.form button {
  margin-top: 12px;
  padding: 10px;
  color: black;
  background-color: #C5C6C7;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 20px;
  border: 0;
}

.form button:hover {
  color: #1F2833;
  cursor: pointer;
  background-color: #45A29E;
}

.form button:disabled {
  color: #1F2833;
  cursor: pointer;
  background-color: #45A29E;
}


.display-none {
  display: none;
}

.display-font-awesome {
  margin-left: 10px;
}

.error-message {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}


.counter {
  width: 340px;
  min-height: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #1F2833;
  padding: 10px;
  border-radius: 8px;
}

.counter button {
  margin: 12px;
  padding: 10px;
  color: black;
  background-color: #C5C6C7;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 20px;
  border: 0;
}

.counter button:hover {
  color: #1F2833;
  cursor: pointer;
  background-color: #45A29E;
}

a {
  color: yellow;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}